{% extends 'admin/base_site.html' %}
{% load i18n static %}

{% block title %}Schedule Download Template{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
             {{ request.user.company.name|upper }}  {% trans 'Squad Spot Panel' %}
        </a>
    </h1>
{% endblock %}

{% block content %}
    <div id="content-main">
        <h2 style="font-size: 28px; margin-bottom: 20px;">{% trans "Schedule Download Template" %}</h2>
        <p style="font-size: 18px; margin-bottom: 30px;">{% trans "Follow the instructions below to download and populate the template." %}</p>

        <ol style="list-style-type: decimal; margin-left: 30px; color: #555; font-size: 20px; line-height: 1.6; margin-bottom: 20px;">
            <li style="padding-bottom: 10px;">{% trans "Download the template using the link below." %}</li>
            <li style="padding-bottom: 10px;">{% trans "Required Fields (colored columns) are project_name, email, start_at, end_at and assigned hours." %}</li>
            <li style="padding-bottom: 10px;">{% trans "Project will have a list of Projects names. In case of a new Project, please first add/import the Project and then again download this template." %}</li>
            <li style="padding-bottom: 10px;">{% trans "start_at and end_at will support date formats: (yyyy-mm-dd), (dd/mm/yyyy)." %}</li>
            <li style="padding-bottom: 10px;">{% trans "Any invalid entry won't be saved in the template." %}</li>
            <li style="padding-bottom: 10px;">{% trans "In case of new user, please add that to team member table first, then again download this template." %}</li>
        </ol>
    </div>
    <div class="submit-row">
        <a href="{% url 'company_admin:schedule_download_template' %}" 
        class="button" style="font-size: 14px; padding: 12px 24px; border-radius: 5px; display: inline-block; margin-top: 20px;">{% trans "Download Template" %}</a>     
    </div>
{% endblock %}